/*------------Yellow color : #FEBF0F--------------*/

/*---------------Basic setup---------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

section{
    display: block;
}
/*------------------------------------Noor-style--------------------------------------*/
header {
    background-color: #040405;
    height: 75px;
}

.navlogo {
    margin-top: 10px;
    margin-left: 4%;
    height: 60px;
    width: auto;
    float: left;
}

header h4 {
    margin-top: 30px;
    margin-left: 0.5%;
    width: auto;
    float: left;
    color: rgb(255, 255, 255);
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: 4%;
}

.main-nav li {
    display: inline-block;
    margin-left: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 4px;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 80%;
    transition:  0.5s;
}

ul:hover li .a2{
    transform:scale(1.5);
    opacity:0.9;
    filter:blur(5px);
  }
  
ul li .a2:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:rgb(0, 0, 0);
  }
  
 ul li .a2:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#FEBF0F;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
    border-radius: 10px;
  }
  
 ul li .a2:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }


.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hometext{
    margin-top: 80px;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
    color: black;
}

.hometext p{
    font-size: 90%;
    padding-top: 2%;
}

.homebtn{
    padding-top: 2%;
}

.homebtn1{
    background-color:#FEBF0F;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 40%;
    height: 24px;
    box-shadow: 0px 3px #00000026;
    transition: 0.3s;
}

.homebtn2{
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 24px;
    box-shadow: 0px 3px #00000026;
    transition: 0.3s;    
}

.homebtn1:hover{
    cursor: pointer;
    background-color: #d6a10e;
}

.homebtn2:hover{
    cursor: pointer;
    background-color:#000000;
    color: #fff;
}

.btna1{
    font-size: 120%;
    text-decoration: none;
    color: #fff;
}

.btna2{
    font-size: 120%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btna2:hover{
    color: rgb(255, 255, 255);
}

.homelogo{
    padding-top: 150px;
    margin-bottom: 50px;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hlogo{
    height: 238px;
}

.circlehome1{
    width: 500px;
    height: 500px;
    background-color: #FDA700;
    position: absolute;
    animation-name: circlehome1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    top: 80px;
    right: 1%;
    border-radius: 50%;
    z-index: -1;  
}

@keyframes circlehome1{
    0% {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

.circlehome2{
    width: 100px;
    height: 100px;
    background-color: #FDA700;
    position: absolute;
    animation-name: circlehome2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    top: 230px;
    left: 2%;
    border-radius: 10px 40px 10px 40px;
    z-index: -1;  
}

@keyframes circlehome2{
    0% {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
}

/*------------------------------------Take-Action-style--------------------------------------*/
.take_action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    margin-top: 150px;
}

.school{
    height: 200px;
}
.rocket{
    height: 200px;
}
.hands{
    height: 200px;
}

.take_action_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
}

.content{
    text-align: center;
}
.content p{
    margin-bottom: 20px;
    padding: 1%;
}


.link_action:visited,
.link_action:link{
    background-color: #ffffff;
    border:#FEBF0F solid 1px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    transition: 0.3s;
}

.link_action:hover{
    background-color: #FEBF0F;
    color: #fff;
}



/*------------------------------------Mohamed-style--------------------------------------*/

/* section mohamed */

.Mohamed_section{
    display: flex;
    padding-top: 200px;
}

/* text */
.text{
    display: flex;
    flex-direction: column;
    margin-left: 3.5%;
}

/*customize (about us) */
.about_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 50px; 
    font-size: 300%;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
}

/*customize paragraph*/
.paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-weight: 400;
    font-size: 190%;
    font-family: cursive;
    line-height: 60px;
    color: #000000;
}


/*customize Enactus Image*/
.img_mohamed{
    height: 200px;
    display: flex;
    margin-top: 100px;
    margin-left: 1%;
    margin-right: 2%;
}


/*customize circlehome4*/
.circlehome4{
    background-color: #FFA500;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 1200px;
    right: 75%;
    z-index: -1;
    /*Animation of circlehome4 */
    animation-name: circlehome4_animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes circlehome4_animation{
    0% {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}


/*customize circlehome3*/
.circlehome3{
    background-color:#FFA500;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    position: absolute;
    top: 1100px;
    left: 75%;
    z-index: -1;
    /*Circlehome3 animation*/
    animation-name: circlehome3_animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes circlehome3_animation{
    0% {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
    100% {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
}